@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OGD Movie API</title>
</head>
<body>
    <div>
        <h1 style="padding-left: 50px">API Loaded</h1>
        <img src="../../api.png" width="300" />
    </div>
</body>
</html>
