<table>
    @for (int x = 0; x < 5; x++)
    {
        <tr>
            @for (int y = 0; y < 4; y++)
            {
                <td>image</td>
                <td>some description</td>
            }
        </tr>
    }
</table>

